*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/*
app_main/.idea/*
.DS_Store
/build
/captures
app/*
hover.sdk/
.externalNativeBuild
.cxx
